/* Estilo aplicado à células de cabeçalho. */
.triangle-chart td.header {
  color: #888;
  padding: .5rem 1rem;
}

/* Estilo aplicado à células de valor. */
.triangle-chart td.value {
  background-color: #eee;
  padding: .5rem 1rem;
  text-align: center;
  border: .1rem solid #fff;
}