body {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -ms-overflow-style: scrollbar;
  color: #555;
}

a {
  text-decoration: none !important;
  color: #19b698;
}

a:hover {
  color: #222;
}

a img {
  border: none;
}

iframe {
  border: none !important;
}

#wrapper {
  position: relative;
  float: none;
  width: 100%;
  margin: 0;
  background-color: #FFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", "Arial", sans-serif;
  color: #444;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 30px 0;
}

h5,
h6 {
  margin-bottom: 20px;
}

.heading-block h1,
.heading-block h2,
.heading-block h3 {
  margin-bottom: 0;
}

.heading-block h1 + p,
.heading-block h2 + p,
.heading-block h3 + p {
  color: #a2a2a2;
}

.heading-block:after {
  content: '';
  display: block;
  margin-top: 20px;
  width: 50px;
  border-top: 2px solid #444;
}

.heading-block.center {
  text-align: center;
}

.heading-block.center:after {
  margin: 30px auto 0;
}

.heading-block.color-divider:after {
  border-color: #19b698;
}

.header-line {
  position: relative;
  margin-bottom: 30px;
}

.header-line h1, .header-line h2, .header-line h3, .header-line h4, .header-line h5, .header-line h6 {
  position: relative;
  background-color: white;
  display: inline-block;
  z-index: 2;
  margin: 0;
  padding-right: 10px;
}

.header-line:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  left: auto;
  top: 52%;
  right: 0;
  border-top: 1px solid #eee;
}

.reference-quote {
  font-size: 13px;
  color: #222;
  font-style: italic;
  font-weight: 700;
}

p.reference-quote-meta {
  padding-left: 10px;
  position: relative;
  font-size: 13px;
  color: #222;
  line-height: 1.3 !important;
}

p.reference-quote-meta > span {
  font-size: 12px;
  color: #888888;
}

p.reference-quote-meta:before {
  content: "-";
  position: absolute;
  left: 0;
}

blockquote p {
  font-weight: bold;
  font-style: italic;
  line-height: 2 !important;
}

.search-box-wrapper {
  background: #222222;
  overflow: hidden;
  height: 0;
  color: #ccc;
}

.search-box-wrapper .container {
  max-width: 100%;
  position: relative;
}

.search-box-wrapper .search-form {
  margin-bottom: 0;
  padding: 0 0 0 20px;
}

.search-box-wrapper input {
  outline: none;
  font-size: 22px;
  font-style: italic;
  border: 0;
  background: #222222;
  color: #fff;
  height: 50px;
  width: 100%;
}

.search-box-wrapper .search-submit {
  display: none;
}

.search-box-wrapper i.fa {
  position: absolute;
  top: 12px;
  left: 0;
  font-size: 24px;
}

#header {
  position: relative;
  background-color: #FFF;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#header .container {
  width: 100%;
  padding: 0 30px;
  position: relative;
}

#branding {
  position: relative;
  float: left;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 36px;
  line-height: 100%;
  padding-right: 30px;
  margin-right: 30px;
}

#branding a {
  display: block;
  color: #000;
}

#branding img {
  display: block;
  max-width: 100%;
}

#branding a.brand-normal {
  display: block;
}

#branding a.brand-retina {
  display: none;
}

#main-navbar-toggle {
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  font-size: 14px;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

#main-navbar-toggle:hover {
  color: #19b698;
}

#main-navbar {
  float: right;
  height: 110px;
}

#main-navbar ul {
  list-style: none;
  height: 110px;
  margin: 0;
}

#main-navbar > ul {
  float: left;
}

#main-navbar ul li {
  position: relative;
  float: left;
  margin-left: 4px;
}

#main-navbar ul li.mega-menu {
  position: inherit;
}

#main-navbar ul li:first-child {
  margin-left: 0;
}

#main-navbar ul li a {
  display: block;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 700;
  height: 110px;
  line-height: 110px;
  color: #444;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0 15px;
  -webkit-transition: height 0.4s ease, line-height 0.4s ease, padding 0.4s ease;
  -moz-transition: height 0.4s ease, line-height 0.4s ease, padding 0.4s ease;
  transition: height 0.4s ease, line-height 0.4s ease, padding 0.4s ease;
}

#main-navbar ul li:hover > ul {
  display: block;
}

#main-navbar > ul > li:hover a,
#main-navbar > ul > li.active a {
  color: #19b698;
}

#main-navbar > ul > li:hover .active > a,
#main-navbar > ul > li.active .active > a {
  color: #19b698 !important;
}

#main-navbar ul ul,
#main-navbar ul li .mega-menu-content {
  background-color: #fff;
  width: 190px;
  height: auto;
  display: none;
  position: absolute;
  top: 110px;
  left: 0;
  margin: 0;
  border: 1px solid #e2e2e2;
  border-top: 1px solid #19b698;
  box-shadow: 0 10px 35px 5px rgba(0, 0, 0, 0.04);
  z-index: 200;
}

#main-navbar ul ul.menu-right-position,
#main-navbar ul li .mega-menu-content.menu-right-position {
  left: auto;
  right: 0;
}

#main-navbar ul ul {
  padding: 0;
}

#main-navbar ul ul li {
  float: none;
  margin: 0;
}

#main-navbar ul ul a {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 600;
  height: 38px;
  line-height: 38px;
  color: #6f6f6f !important;
  letter-spacing: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#main-navbar ul ul li:hover > a {
  background-color: #fafafa;
  padding-left: 20px;
  color: #19b698 !important;
}

#main-navbar ul li.mega-menu-small .mega-menu-content {
  width: 400px;
}

#main-navbar ul li.mega-menu .mega-menu-content {
  margin: 0 30px;
  padding: 0 10px;
  width: 1140px;
  top: 110px;
}

#main-navbar ul li.mega-menu .mega-menu-content ul {
  display: block !important;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  border: 0;
  box-shadow: none;
  opacity: 1 !important;
}

#main-navbar ul li.mega-menu .mega-menu-content ul:first-child {
  border-left: 0 !important;
}

#main-navbar ul li.mega-menu .mega-menu-content ul a {
  padding-left: 5px;
  height: 36px;
  line-height: 36px;
}

#main-navbar ul li.mega-menu .mega-menu-content ul a:hover {
  padding-left: 10px;
}

#main-navbar ul li.mega-menu .mega-menu-content ul > li.mega-menu-title {
  margin-top: 20px;
}

#main-navbar ul li.mega-menu .mega-menu-content ul > li.mega-menu-title:first-child {
  margin-top: 0;
}

#main-navbar ul li.mega-menu .mega-menu-content ul > li.mega-menu-title > a {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #444 !important;
  padding: 0;
  height: auto;
  line-height: 1.3 !important;
}

#main-navbar ul li.mega-menu .mega-menu-content ul > li.mega-menu-title:hover > a {
  background-color: transparent;
}

#main-navbar ul li.mega-menu .mega-menu-content ul > li.mega-menu-title > a:hover {
  color: #19b698 !important;
}

#main-navbar ul li.mega-menu .mega-menu-content > ul {
  float: left;
  padding: 20px 30px;
}

#main-navbar ul li.mega-menu .mega-menu-content.col-2 > ul,
#main-navbar ul li.mega-menu .mega-menu-content.col-3 > ul,
#main-navbar ul li.mega-menu .mega-menu-content.col-4 > ul,
#main-navbar ul li.mega-menu .mega-menu-content.col-5 > ul {
  width: 50%;
  margin: 0;
  border-left: 1px solid #f2f2f2;
}

#main-navbar ul li.mega-menu .mega-menu-content.col-3 > ul {
  width: 33.33%;
}

#main-navbar ul li.mega-menu .mega-menu-content.col-4 > ul {
  width: 25%;
}

#main-navbar ul li.mega-menu .mega-menu-content.col-5 > ul {
  width: 20%;
}

#search-toggle {
  float: right;
  margin: 0 15px;
  line-height: 110px;
  -webkit-transition: height 0.4s ease, line-height 0.4s ease, padding 0.4s ease;
  -moz-transition: height 0.4s ease, line-height 0.4s ease, padding 0.4s ease;
  transition: height 0.4s ease, line-height 0.4s ease, padding 0.4s ease;
}

#search-toggle > a {
  margin-left: 20px;
  color: #444;
}

#search-toggle > a:hover {
  color: #19b698;
}

#header.transparent-header {
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 99;
}

#header.transparent-header + #slider {
  top: -110px;
  margin-bottom: -110px;
  background-color: #0;
}

#header.transparent-header.light {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#header.transparent-header.light #main-navbar ul li a {
  color: #eee;
}

#header.transparent-header.light #main-navbar ul li:hover a,
#header.transparent-header.light #main-navbar ul li.active a {
  color: #19b698;
}

#header.transparent-header.light #search-toggle {
  color: #eee;
}

#header.transparent-header.light #search-toggle a {
  color: #eee;
}

#header.transparent-header.light #search-toggle a:hover {
  color: #19b698;
}

#header.transparent-header #main-navbar > ul > li > ul,
#header.transparent-header #main-navbar > ul > li > .mega-menu-content,
#header.transparent-header #main-navbar > ul > li.mega-menu > .mega-menu-content {
  top: 109px;
}

#header,
#header-wrap,
#branding img {
  height: 110px;
  -webkit-transition: height 0.4s ease, opacity 0.3s ease;
  -moz-transition: height 0.4s ease, opacity 0.3s ease;
  transition: height 0.4s ease, opacity 0.3s ease;
}

#main-navbar > ul > li > ul,
#main-navbar > ul > li > .mega-menu-content,
#main-navbar > ul > li.mega-menu > .mega-menu-content {
  -webkit-transition: top 0.4s ease;
  -moz-transition: top 0.4s ease;
  transition: top 0.4s ease;
}

#header.sticky-header {
  height: 60px;
}

#header.sticky-header #header-wrap,
#header.sticky-header #branding img,
#header.sticky-header #main-navbar,
#header.sticky-header #main-navbar > ul,
#header.sticky-header #main-navbar > ul > li > a {
  height: 60px;
}

#header.sticky-header #header-wrap {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-backface-visibility: hidden;
}

#header.sticky-header #main-navbar > ul > li > a {
  line-height: 60px;
}

#header.sticky-header #main-navbar > ul > li > a i {
  line-height: 59px;
}

#header.sticky-header #main-navbar > ul > li > ul,
#header.sticky-header #main-navbar > ul > li > .mega-menu-content,
#header.sticky-header #main-navbar > ul > li.mega-menu > .mega-menu-content {
  top: 60px;
}

#header.sticky-header #search-toggle {
  line-height: 60px;
}

#slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 5;
}

.slider-parallax {
  visibility: visible;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-backface-visibility: hidden;
}

.tp-caption {
  font-family: "Raleway", "Arial", sans-serif;
}

.tp-caption.big-text {
  font-size: 54px;
  font-weight: 700;
  letter-spacing: -1px;
  font-family: "Raleway", "Arial", sans-serif;
}

.tp-caption.light_normal_22 {
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
  font-family: "Raleway", "Arial", sans-serif;
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  border-width: black;
  border-style: none;
}

@media only screen and (max-width: 479px) {
  .tp-caption > .myBtn {
    border-width: 1px !important;
    line-height: 30px !important;
    height: 30px !important;
    padding: 0 5px !important;
  }
  .tp-caption > .myBtn span {
    font-size: 10px;
  }
}

.tp-banner-container {
  width: 100%;
  position: relative;
  padding: 0;
  background-color: #000000;
}

.tp-banner {
  width: 100%;
  position: relative;
}

.tp-banner-fullscreen-container {
  width: 100%;
  position: relative;
  padding: 0;
}

.tp-caption.black_heavy_60, .black_heavy_60 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 900;
  font-family: "Raleway", "Arial", sans-serif;
  color: black;
  text-decoration: none;
  background-color: transparent;
  text-shadow: none;
  border-width: 0px;
  border-color: black;
  border-style: none;
}

.tp-caption.light_heavy_60, .light_heavy_60 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 900;
  font-family: "Raleway", "Arial", sans-serif;
  color: white;
  text-decoration: none;
  background-color: transparent;
  text-shadow: none;
  border-width: 0px;
  border-color: black;
  border-style: none;
}

.tp-caption.light_medium_30, .light_medium_30 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  font-family: "Raleway", "Arial", sans-serif;
  color: white;
  text-decoration: none;
  background-color: transparent;
  text-shadow: none;
  border-width: 0px;
  border-color: black;
  border-style: none;
}

.tp-caption.light_heavy_34, .light_heavy_34 {
  font-size: 34px;
  line-height: 34px;
  font-weight: 900;
  font-family: "Raleway", "Arial", sans-serif;
  color: white;
  text-decoration: none;
  background-color: transparent;
  text-shadow: none;
  border-width: 0px;
  border-color: black;
  border-style: none;
}

.tp-caption.black_thin_whitebg_30, .black_thin_whitebg_30 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 300;
  font-family: "Raleway", "Arial", sans-serif;
  color: black;
  text-decoration: none;
  background-color: white;
  padding: 5px 10px;
  text-shadow: none;
  border-width: 0px;
  border-color: black;
  border-style: none;
}

.tp-caption.white_heavy_60, .white_heavy_60 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 900;
  font-family: "Raleway", "Arial", sans-serif;
  color: white;
  text-decoration: none;
  background-color: transparent;
  text-shadow: none;
  border-width: 0px;
  border-color: black;
  border-style: none;
}

.tp-caption.black_thin_blackbg_30, .black_thin_blackbg_30 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 300;
  font-family: "Raleway", "Arial", sans-serif;
  color: white;
  text-decoration: none;
  background-color: black;
  padding: 5px 10px;
  text-shadow: none;
  border-width: 0px;
  border-color: black;
  border-style: none;
}

.tp-caption.light_thin_60, .light_thin_60 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 100;
  font-family: "Raleway", "Arial", sans-serif;
  color: white;
  text-decoration: none;
  background-color: transparent;
  text-shadow: none;
  border-width: 0px;
  border-color: black;
  border-style: none;
}

.tp-caption.white_heavy_70, .white_heavy_70 {
  font-size: 70px;
  line-height: 70px;
  font-weight: 900;
  font-family: "Raleway", "Arial", sans-serif;
  color: white;
  text-decoration: none;
  background-color: transparent;
  text-shadow: none;
  border-width: 0px;
  border-color: black;
  border-style: none;
}

.tp-caption.whiteline_long, .whiteline_long {
  line-height: 1px;
  min-width: 660px;
  background-color: transparent;
  text-decoration: none;
  border-width: 2px 0px 0px 0px;
  border-color: white #222222 #222222 #222222;
  border-style: solid none none none;
}

.tp-caption.fullgradient_overlay, .fullgradient_overlay {
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
  filter: progid;
  width: 100%;
  height: 100%;
  border-width: 0px;
  border-color: #222222;
  border-style: none;
}

.tp-caption.light_medium_20, .light_medium_20 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  font-family: "Raleway", "Arial", sans-serif;
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  border-width: 0px;
  border-color: black;
  border-style: none;
}

.tp-caption.reddishbg_heavy_70, .reddishbg_heavy_70 {
  font-size: 70px;
  line-height: 70px;
  font-weight: 900;
  font-family: "Raleway", "Arial", sans-serif;
  color: white;
  text-decoration: none;
  background-color: rgba(100, 1, 24, 0.8);
  padding: 50px;
  text-shadow: none;
  border-width: 0px;
  border-color: black;
  border-style: none;
}

.tp-caption.borderbox_725x130, .borderbox_725x130 {
  min-width: 725px;
  min-height: 130px;
  background-color: transparent;
  text-decoration: none;
  border-width: 2px;
  border-color: white;
  border-style: solid;
}

.flexslider {
  margin: 0;
  border: 0;
}

.flexslider .flex-control-nav {
  bottom: auto;
  top: 10px;
  right: 10px;
  width: auto;
  z-index: 3;
}

.flexslider .flex-control-nav > li {
  margin: 0 3px;
}

.flexslider .flex-control-nav > li > a {
  width: 8px;
  height: 8px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.7);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 20px;
}

.flexslider .flex-control-nav > li > a.flex-active,
.flexslider .flex-control-nav > li > a:hover {
  background-color: white;
}

.flexslider.reference-slider .flex-control-nav {
  top: auto;
  bottom: 5px;
}

.flexslider.reference-slider .flex-control-nav > li {
  margin: 0 2px;
}

.flexslider.reference-slider .flex-control-nav > li > a {
  width: 6px;
  height: 6px;
  border: 1px solid #19b698;
}

.flexslider.reference-slider .flex-control-nav > li > a.flex-active,
.flexslider.reference-slider .flex-control-nav > li > a:hover {
  background-color: #19b698;
}

.owl-carousel.carousel-full .owl-item {
  padding: 0 40px;
}

#breadcrumbs {
  background-color: #f5f5f5;
  padding: 40px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

#breadcrumbs > .container {
  position: relative;
}

#breadcrumbs h1 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

#breadcrumbs h1 + span {
  font-size: 18px;
  font-weight: 300;
  color: #888888;
}

#breadcrumbs .breadcrumb {
  position: absolute;
  right: 0;
  top: 20px;
  background: transparent;
  padding: 0;
}

#breadcrumbs.breadcrumbs-sm {
  padding: 15px 0;
}

#breadcrumbs.breadcrumbs-sm h1 {
  font-size: 18px;
}

#breadcrumbs.breadcrumbs-sm h1 + span {
  display: none;
}

#breadcrumbs.breadcrumbs-sm .breadcrumb {
  top: 2px;
}

#content {
  position: relative;
  overflow: hidden;
  background-color: #FFF;
  z-index: 9;
}

#content p {
  line-height: 1.8;
}

#content .content-wrap {
  position: relative;
  padding: 80px 0 60px;
}

#content .container {
  position: relative;
  z-index: 2;
}

#content .section {
  padding: 60px 0;
  margin: 60px 0;
  position: relative;
}

#content .section.gMap {
  height: 500px;
  padding: 0;
  margin: 0;
}

#content .video-section {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

#content .video-section video {
  width: 100%;
}

#content .video-section > .video-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: url(../images/square-pattern.png);
  -webkit-backface-visibility: hidden;
}

.search-results {
  list-style: none;
  padding: 10px 0;
  margin: 0;
}

.search-results > .search-result {
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}

.search-results > .search-result:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.search-results > .search-result .cover {
  padding: 20px;
  background-color: white;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

.search-results > .search-result .cover h4 {
  padding: 0;
  margin: 0 0 10px 0;
  font-weight: 700;
}

.search-results > .search-result .cover h4 a {
  color: #222;
}

.search-results > .search-result .cover h4 a:hover {
  text-decoration: none;
}

.search-results > .search-result .cover > p {
  color: #a2a2a2;
}

.search-results > .search-result .cover > a {
  font-size: 12px;
}

.search-results > .search-result:hover .cover {
  background-color: #fafafa;
}

.parallax-box {
  padding: 80px 0;
  margin: 60px 0;
  position: relative;
}

.parallax-1 {
  background: url(../images/parallax/parallax-1.jpg) 0% -150px;
}

.portfolio .portfolio-item {
  position: relative;
}

.portfolio .portfolio-item .portfolio-image {
  position: relative;
  overflow: hidden;
}

.portfolio .portfolio-item .portfolio-image img {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
  width: 100%;
}

.portfolio .portfolio-item .portfolio-image .portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.portfolio .portfolio-item .portfolio-image .portfolio-overlay a {
  position: absolute;
  top: 55%;
  left: 50%;
  background-color: #000;
  width: 40px !important;
  height: 40px !important;
  margin: -22px 0 0 -44px;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.portfolio .portfolio-item .portfolio-image .portfolio-overlay a.btn-right {
  left: auto;
  right: 50%;
  margin-left: 0;
  margin-right: -44px;
}

.portfolio .portfolio-item .portfolio-image .portfolio-overlay a.btn-middle {
  display: block;
  margin: -20px 0 0 -20px;
}

.portfolio .portfolio-item .portfolio-image .portfolio-overlay a:hover {
  background-color: #19b698;
}

.portfolio .portfolio-item .portfolio-image .portfolio-overlay a:active,
.portfolio .portfolio-item .portfolio-image .portfolio-overlay a:focus {
  outline: 0;
}

.portfolio .portfolio-item:hover .portfolio-image .portfolio-overlay {
  opacity: 1;
}

.portfolio .portfolio-item:hover .portfolio-image .portfolio-overlay a {
  top: 50%;
}

.portfolio .portfolio-item .portfolio-desc {
  z-index: 3;
  padding: 15px 5px 10px;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  transition: all 0.15s ease;
  position: relative;
}

.portfolio .portfolio-item .portfolio-desc h3, .portfolio .portfolio-item .portfolio-desc h4 {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.portfolio .portfolio-item .portfolio-desc h3 a, .portfolio .portfolio-item .portfolio-desc h4 a {
  color: #222;
}

.portfolio .portfolio-item .portfolio-desc h3 a:hover, .portfolio .portfolio-item .portfolio-desc h4 a:hover {
  color: #19b698;
}

.portfolio .portfolio-item .portfolio-desc span {
  display: block;
  margin-top: 3px;
  color: #888888;
}

.portfolio .portfolio-item .portfolio-desc span a {
  color: #888888;
}

.portfolio .portfolio-item .portfolio-desc span a:hover {
  color: #19b698;
}

.portfolio .portfolio-item .portfolio-desc h4 {
  font-size: 14px;
}

.portfolio .portfolio-item .portfolio-desc h4 + span {
  font-size: 12px;
}

.portfolio .portfolio-item .portfolio-desc:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 40px;
  background-color: #eaeaea;
  margin-left: -5px;
  bottom: 0;
}

.portfolio.portfolio-notitle .portfolio-item {
  overflow: hidden;
}

.portfolio.portfolio-notitle .portfolio-item .portfolio-desc {
  position: absolute;
  display: block !important;
  width: 100%;
  height: 78px;
  padding: 15px 5px;
  top: auto;
  bottom: -79px;
  left: 0;
  background-color: #FFF;
  border-bottom: 1px solid #EEE;
}

.portfolio.portfolio-notitle .portfolio-item .portfolio-desc:after {
  display: none;
}

.portfolio.portfolio-notitle .portfolio-item:hover .portfolio-image img {
  -webkit-transform: translateY(-30px) scale(1.05);
  -moz-transform: translateY(-30px) scale(1.05);
  -ms-transform: translateY(-30px) scale(1.05);
  -o-transform: translateY(-30px) scale(1.05);
  transform: translateY(-30px) scale(1.05);
}

.portfolio.portfolio-notitle .portfolio-item:hover .portfolio-image .slide img {
  -webkit-transform: translateY(-20px) scale(1);
  -moz-transform: translateY(-20px) scale(1);
  -ms-transform: translateY(-20px) scale(1);
  -o-transform: translateY(-20px) scale(1);
  transform: translateY(-20px) scale(1);
}

.portfolio.portfolio-notitle .portfolio-item:hover .portfolio-desc {
  bottom: 0;
}

.portfolio.portfolio-nospace .row {
  margin: 0;
}

.portfolio.portfolio-nospace .row > .portfolio-item {
  margin: 0;
  padding: 0;
}

.portfolio.portfolio-nospace .row > .portfolio-item .portfolio-desc {
  padding: 15px 15px 10px;
}

.mix-filter {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
}

.mix-filter li {
  color: #222;
  cursor: pointer;
  padding: 6px 15px;
  margin-right: 2px;
  margin-bottom: 5px;
  background: #eee;
  display: inline-block;
}

.mix-filter li:hover,
.mix-filter li.active {
  color: white;
  background-color: #19b698;
}

.mix-grid .mix {
  display: none;
  margin-bottom: 15px;
}

.sidebar > .widget-heading {
  margin-bottom: 10px;
}

.sidebar .sidebar-widget {
  margin-bottom: 40px;
}

.sidebar .sidebar-widget.nav > li {
  border-left: 2px solid #f8f8f8;
}

.sidebar .sidebar-widget.nav > li > a {
  border-radius: 2px;
}

.sidebar .sidebar-widget.nav > li > a:hover {
  background-color: #f8f8f8;
}

.sidebar .sidebar-widget.media-list .media .media-object {
  width: 64px;
  border-radius: 2px;
}

.sidebar .sidebar-widget.media-list .media .media-body p {
  font-size: 12px;
}

#footer {
  position: relative;
  background-color: #272727;
  color: #aaa;
}

#footer a {
  color: #e2e2e2;
}

#footer a:hover {
  color: #19b698;
}

#footer .footer-main {
  padding: 80px 0;
}

#footer .widget {
  margin-bottom: 40px;
}

#footer .widget h1, #footer .widget h2, #footer .widget h3, #footer .widget h4, #footer .widget h5, #footer .widget h6 {
  color: #ccc;
  margin-bottom: 15px;
}

#footer .widget > h4 {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#footer .widget-photo-stream .photo-stream {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#footer .widget-photo-stream .photo-stream > li {
  display: inline-block;
  margin: 2px;
  position: relative;
  overflow: hidden;
}

#footer .widget-photo-stream .photo-stream > li a {
  position: relative;
  z-index: 2;
}

#footer .widget-photo-stream .photo-stream > li a img {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 75px;
  height: 75px;
}

#footer .widget-photo-stream .photo-stream > li a:hover img {
  filter: alpha(opacity=30);
  opacity: 0.3;
}

#footer .widget-photo-stream .photo-stream > li a:hover + .photo-stream-overlay i {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

#footer .widget-photo-stream .photo-stream > li .photo-stream-overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #19b698;
  top: 0;
  z-index: 1;
  text-align: center;
}

#footer .widget-photo-stream .photo-stream > li .photo-stream-overlay i {
  color: white;
  margin-top: 25px;
  font-size: 24px;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

#footer .widget-newsletter form {
  margin-top: 40px;
}

#footer .widget-newsletter input {
  border: 0;
  box-shadow: 0 3px 0 0 rgba(255, 255, 255, 0.15);
  border-radius: 0;
}

#footer .widget-newsletter button {
  border: 0;
  box-shadow: 0 3px 0 0 rgba(255, 255, 255, 0.15);
  border-radius: 0;
}

#footer .footer-bottom {
  padding: 40px 0;
  background-color: #222;
  color: #666;
}

#footer .footer-bottom a {
  color: #666;
}

#footer .footer-bottom a:hover {
  color: #aaa;
}

#gotoTop {
  display: none;
  z-index: 999;
  position: fixed;
  width: 36px;
  height: 36px;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  top: auto;
  left: auto;
  right: 40px;
  bottom: 40px;
  cursor: pointer;
  border-radius: 2px;
  -webkit-transition: color 0.25s linear, background-color 0.25s linear;
  -moz-transition: color 0.25s linear, background-color 0.25s linear;
  transition: color 0.25s linear, background-color 0.25s linear;
}

#gotoTop:hover {
  background-color: #19b698;
  color: white;
}

.myBtn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  margin: 5px;
  padding: 0 20px;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  background-color: #19b698;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.myBtn:hover {
  background-color: #138a72;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.myBtn > span {
  margin: 0 5px;
}

body:not(.device-touch) .myBtn {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.myBtn.myBtn-dark {
  background-color: #444;
}

.myBtn.myBtn-dark:hover {
  background-color: #19b698;
}

.myBtn.myBtn-light {
  background-color: #eee;
  color: #222;
  text-shadow: none !important;
}

.myBtn.myBtn-light:hover {
  color: #19b698;
  background-color: white;
}

.myBtn.myBtn-midlight {
  background-color: #ccc;
  color: #a2a2a2;
  text-shadow: none !important;
}

.myBtn.myBtn-midlight:hover {
  color: #19b698;
  background-color: #eee;
}

.myBtn.myBtn-lightred {
  background-color: #e05d6f;
}

.myBtn.myBtn-lightred:hover {
  background-color: #d9364d;
}

.myBtn.myBtn-xs {
  padding: 0 12px;
  font-size: 10px;
  height: 26px;
  line-height: 26px;
}

.myBtn.myBtn-sm {
  padding: 0 15px;
  font-size: 12px;
  height: 34px;
  line-height: 34px;
}

.myBtn.myBtn-lg {
  padding: 0 24px;
  font-size: 16px;
  height: 46px;
  line-height: 46px;
}

.myBtn.myBtn-xl {
  padding: 0 30px;
  font-size: 18px;
  letter-spacing: 2px;
  height: 52px;
  line-height: 52px;
}

.myBtn.myBtn-border {
  border: 2px solid #444;
  background-color: transparent;
  color: #222;
  line-height: 36px;
  font-weight: 600;
  text-shadow: none;
}

.myBtn.myBtn-border.myBtn-xs {
  line-height: 22px;
}

.myBtn.myBtn-border.myBtn-sm {
  line-height: 30px;
}

.myBtn.myBtn-border.myBtn-lg {
  line-height: 42px;
}

.myBtn.myBtn-border.myBtn-xl {
  line-height: 48px;
}

.myBtn.myBtn-border:hover {
  background-color: #444;
  color: #fff;
  border-color: transparent !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.myBtn.myBtn-border.myBtn-light {
  border-color: #fff;
  color: #fff;
}

.myBtn.myBtn-border.myBtn-light:hover {
  background-color: #fff;
  color: #19b698;
  text-shadow: none;
}

.myBtn.myBtn-border.myBtn-midlight {
  border-color: #eaeaea;
  color: #bbbbbb;
}

.myBtn.myBtn-border.myBtn-midlight:hover {
  background-color: #19b698;
  color: #fff;
  text-shadow: none;
}

.myBtn.myBtn-border.myBtn-theme {
  border-color: #19b698;
  color: #19b698;
}

.myBtn.myBtn-border.myBtn-theme:hover {
  background-color: #19b698;
  color: white;
}

.myBtn.myBtn-rounded {
  border-radius: 2px;
}

.myBtn.myBtn-3d {
  border-radius: 2px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.15);
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.myBtn.myBtn-3d:hover {
  background-color: #19b698 !important;
  opacity: 0.8;
}

.myBtn.myBtn-3d.myBtn-light:hover {
  text-shadow: none;
  color: #333;
}

.myBtn.myBtn-block {
  display: block;
  margin: 0;
  padding: 30px 0;
  height: auto;
  white-space: normal;
  font-size: 28px;
  font-weight: 300;
  text-transform: none;
}

.plus {
  position: relative;
  width: 30px;
  height: 30px;
  display: block;
}

.plus:before,
.plus:after {
  content: "";
  background-color: #e2e2e2;
  position: absolute;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.plus:before {
  width: 24px;
  height: 1px;
  top: 11px;
}

.plus:after {
  width: 1px;
  height: 24px;
  left: 11px;
}

.plus:hover:before,
.plus:hover:after {
  background-color: #19b698;
}

div[class^="col"] > .plus {
  position: absolute;
  right: -5px;
  bottom: -20px;
}

.btn-tag {
  position: relative;
  color: #a2a2a2;
  border: 2px solid #f2f2f2;
  display: inline-block;
  padding: 2px 5px;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  font-size: 12px;
  margin-bottom: 5px;
  margin-right: 3px;
}

.btn-tag:hover {
  border-color: #19b698;
  color: #19b698;
}

.btn-tag:hover:after {
  border-left-color: #19b698;
}

.btn-tag:before {
  content: "";
  top: 50%;
  right: -11px;
  display: block;
  margin-top: -11px;
  position: absolute;
  height: 0;
  width: 0;
  border-bottom: 11px solid transparent;
  border-left: 11px solid #fff;
  border-top: 11px solid transparent;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  z-index: 4;
}

.btn-tag:after {
  content: "";
  top: 50%;
  right: -14px;
  z-index: 2;
  display: block;
  margin-top: -13px;
  position: absolute;
  height: 0;
  width: 0;
  border-bottom: 13px solid transparent;
  border-left: 13px solid #f2f2f2;
  border-top: 13px solid transparent;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.line {
  clear: both;
  position: relative;
  width: 100%;
  margin: 60px 0;
  border-top: 1px solid #eee;
}

.feature-box {
  margin-bottom: 40px;
}

.feature-box .heading {
  position: relative;
}

.feature-box .heading h3 {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
  padding-left: 30px;
}

.feature-box .heading h3.underline {
  border-bottom: 2px solid #444;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.feature-box .heading > a {
  font-size: 22px;
  color: #19b698;
  position: absolute;
  top: -7px;
  left: 0;
}

.feature-box .heading > a:hover {
  color: #19b698;
}

.feature-box p {
  color: #a2a2a2;
}

.feature-box.no-icon .heading h3 {
  padding-left: 0;
}

.feature-box.icon-block {
  position: relative;
}

.feature-box.icon-block > a {
  position: absolute;
  display: inline-block;
  color: white;
  background-color: #19b698;
  border-radius: 2px;
  padding: 0;
  font-size: 22px;
  line-height: 46px;
  width: 46px;
  text-align: center;
  -webkit-transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}

.feature-box.icon-block > a:hover {
  background-color: #444;
}

.feature-box.icon-block .heading,
.feature-box.icon-block p {
  padding-left: 65px;
}

.feature-box.icon-block .heading > h3 {
  padding-left: 0;
}

.post-entry {
  position: relative;
  padding-bottom: 50px;
}

.post-entry .entry-image {
  margin-bottom: 20px;
}

.post-entry .entry-image img {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.post-entry .entry-image > a:hover img {
  opacity: .8;
}

.post-entry .entry-title h3, .post-entry .entry-title h2 {
  font-size: 16px;
  margin-bottom: 5px;
}

.post-entry .entry-title h3 a, .post-entry .entry-title h2 a {
  color: #222;
}

.post-entry .entry-title h3 a:hover, .post-entry .entry-title h2 a:hover {
  color: #19b698;
}

.post-entry .entry-title h2 {
  font-size: 22px;
  font-weight: 700;
}

.post-entry .entry-meta {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-entry .entry-meta > li {
  display: inline;
  font-style: italic;
  font-size: 12px;
  color: #a2a2a2;
}

.post-entry .entry-meta > li > a {
  color: #a2a2a2;
}

.post-entry .entry-meta > li > a:hover {
  color: #19b698;
}

.post-entry .entry-meta > li:after {
  content: "/";
  margin: 0 5px 0 6px;
}

.post-entry .entry-meta > li:last-child:after {
  display: none;
}

.post-entry .entry-content {
  margin-top: 30px;
}

.post-entry .plus {
  position: absolute;
  right: -15px;
  bottom: 20px;
}

.post-entry .entry-tags {
  margin-bottom: 20px;
}

.post-entry .entry-share {
  padding: 20px 0;
}

.post-entry .entry-share > span {
  font-family: "Raleway", "Arial", sans-serif;
  color: #444;
  text-transform: uppercase;
  font-weight: 700;
}

.post-entry .entry-comments {
  margin-top: 40px;
}

.blog-posts .post-entry {
  padding-bottom: 20px;
}

.blog-posts .post-entry .entry-image img {
  border-radius: 4px;
}

.blog-posts .post-divider {
  border-top: 2px solid #f2f2f2;
}

.blog-post .post-entry .entry-meta {
  margin-bottom: 30px;
}

.blog-post .post-entry .entry-content > p,
.blog-post .post-entry .entry-content > pre,
.blog-post .post-entry .entry-content > div {
  margin-bottom: 30px;
}

.blog-post .post-divider {
  border-top: 2px solid #f2f2f2;
}

.thumb {
  width: 64px;
  height: 64px;
}

.box {
  width: 100%;
  background-color: #eee;
  padding: 20px;
}

.box .myBtn {
  margin: 0;
}

.box.box-3d {
  border-bottom: 3px solid #d4d4d4;
}

.box.box-rounded {
  border-radius: 2px;
}

.form-control {
  color: #222;
  outline: 0;
  vertical-align: top;
  background-color: #fff;
  filter: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 2px;
  border: 1px solid #dbe0e2;
  height: 38px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.form-control:not(select) {
  -webkit-appearance: none !important;
}

.form-control::-webkit-input-placeholder {
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  transition: color 0.2s linear;
  color: #d4d4d4;
  font-style: italic;
  font-size: 12px;
  line-height: 20px;
}

.form-control::-moz-placeholder {
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  transition: color 0.2s linear;
  color: #d4d4d4;
  font-style: italic;
  font-size: 12px;
  line-height: 20px;
}

.form-control:-moz-placeholder {
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  transition: color 0.2s linear;
  color: #d4d4d4;
  font-style: italic;
  font-size: 12px;
  line-height: 20px;
}

.form-control:-ms-input-placeholder {
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  transition: color 0.2s linear;
  color: #d4d4d4;
  font-style: italic;
  font-size: 12px;
  line-height: 20px;
}

.form-control.input-lg::-webkit-input-placeholder {
  font-size: 18px;
}

.form-control.input-lg::-moz-placeholder {
  font-size: 18px;
}

.form-control.input-lg:-moz-placeholder {
  font-size: 18px;
}

.form-control.input-lg:-ms-input-placeholder {
  font-size: 18px;
}

.form-control.input-sm::-webkit-input-placeholder {
  line-height: 18px;
}

.form-control.input-sm::-moz-placeholder {
  line-height: 18px;
}

.form-control.input-sm:-moz-placeholder {
  line-height: 18px;
}

.form-control.input-sm:-ms-input-placeholder {
  line-height: 18px;
}

.form-control:hover:not(:disabled) {
  border-color: #b1bac0;
}

.form-control:focus,
.form-control:focus:hover {
  outline: none;
  border: 1px solid;
  border-color: #19b698;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control.rounded {
  border-radius: 600px;
}

.form-control.input-unstyled {
  border: 0;
  padding: 0;
  background-color: transparent;
}

.form-control.input-unstyled::-webkit-input-placeholder {
  font-size: 16px;
}

.form-control.input-unstyled::-moz-placeholder {
  font-size: 16px;
}

.form-control.input-unstyled:-moz-placeholder {
  font-size: 16px;
}

.form-control.input-unstyled:-ms-input-placeholder {
  font-size: 16px;
}

.form-control.input-unstyled:focus,
.form-control.input-unstyled:focus:hover {
  border: 0;
}

.form-control.input-3d {
  border-bottom: 3px solid #dbe0e2;
}

.form-control.input-3d:focus,
.form-control.input-3d:focus:hover {
  border-bottom: 3px solid #19b698;
}

.form-control.unhappy {
  border-color: #e05d6f;
}

.input-group.input-group-3d .form-control {
  border-right: 0 !important;
}

.input-group.input-group-3d .form-control:hover + .input-group-btn button {
  border-color: #b1bac0;
}

.input-group.input-group-3d .form-control:focus + .input-group-btn button,
.input-group.input-group-3d .form-control:focus:hover + .input-group-btn button {
  border-bottom: 3px solid #19b698;
}

.input-group.input-group-3d button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin: 0;
  height: 38px;
  line-height: 35px;
  border-bottom: 3px solid #dbe0e2;
}

.form-group > label {
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Raleway", "Arial", sans-serif;
}

form .unhappyMessage {
  color: #e05d6f;
  font-size: 12px;
  font-style: italic;
}

.form-control.myInput {
  border-width: 2px;
}

.form-control.myInput:not(textarea) {
  height: 46px;
}

.form-control.myInput:focus {
  border-width: 2px;
}

.social-icon {
  margin: 0 5px 5px 0;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  color: #fff;
  position: relative;
  transform: rotateY(0deg);
  transition: transform 0.25s ease-out;
  transform-style: preserve-3d;
}

.social-icon > div {
  width: 30px;
  height: 30px;
  background: #1e1e1e;
  position: absolute;
}

.social-icon > div.front {
  transform: translateZ(12px);
}

.social-icon > div.back {
  background: #19b698;
  transform: rotateY(-100deg) translateZ(10px);
  color: white;
}

.social-icon.social-icon-light {
  color: #6f6f6f;
}

.social-icon.social-icon-light > div {
  background-color: #f2f2f2;
}

/*  Social Media Colors
	Facebook #3B5998
	Flickr #FE0883
	Foursquare #8FD400
	Google+ #C63D2D
	Instagram #4E433C
	Linkedin #4875B4
	Tumblr #2B4964
	Twitter #33CCFF
	Vimeo #86B32D
	Youtube #FF3333
	Dribbble #ea4c89
*/
.social-icon.social-facebook > .back {
  background: #3B5998;
}

.social-icon.social-twitter > .back {
  background: #55ACEE;
}

.social-icon.social-github > .back {
  background: #f3f3f3;
  color: #000;
}

.social-icon.social-pinterest > .back {
  background: #e3262e;
}

.social-icon.social-googleplus > .back {
  background: #dd4B39;
}

.social-icon.social-skype > .back {
  background: #12A5F4;
}

.social-icon.social-linkedin > .back {
  background: #4875B4;
}

.social-icon.social-dribbble > .back {
  background: #ea4c89;
}

.social-icon.social-flickr > .back {
  background: #FE0883;
}

/* Hover */
.social-icon:hover {
  transform: rotateY(100deg);
}

.counter {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin-top: 5px;
}

.counter + h5 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 0;
}

.counter + h5:before {
  display: block;
  position: relative;
  margin: 20px auto 25px;
  content: '';
  width: 40px;
  border-top: 2px solid #444;
}

.progress {
  background-color: #ebeef2;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.progress .progress-bar {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: width 1.1s linear;
  -moz-transition: width 1.1s linear;
  transition: width 1.1s linear;
  background-color: #19b698;
}

.progress.progress-xxs {
  height: 2px;
  border-radius: 0;
}

.progress.progress-xs {
  height: 4px;
  border-radius: 2px;
}

.progress.progress-sm {
  height: 12px;
  border-radius: 3px;
}

.progress.progress-sm .progress-bar {
  font-size: 10px;
  line-height: 12px;
}

.progress.not-rounded {
  border-radius: 0;
}

.progress-list {
  position: relative;
}

.progress-list .label {
  color: #222;
  font-size: 12px;
  line-height: 24px;
  padding: 0;
  text-transform: uppercase;
}

.progress-list .progress {
  position: relative;
  overflow: visible;
}

.progress-list .progress-bar {
  position: absolute;
  border-radius: 2px;
}

.progress-list .progress-bar .progress-percent {
  position: absolute;
  top: -30px;
  right: 0;
  background-color: #222;
  color: #F9F9F9;
  height: 24px;
  line-height: 24px;
  padding: 0 5px;
  border-radius: 2px;
}

.progress-list .progress-bar .progress-percent:after {
  content: '';
  height: 0;
  width: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #222;
}

.progress-list .progress-bar .progress-percent .counter {
  font-size: 11px;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  margin: 0;
}

.progress-chart {
  position: relative;
  padding-bottom: 15px;
}

.progress-chart:before {
  content: '';
  position: absolute;
  height: 100%;
  border-left: 1px solid #eee;
  z-index: -1;
}

.progress-chart .label,
.progress-chart .label .counter {
  font-family: "Raleway", "Arial", sans-serif;
  color: #222;
  font-weight: 700;
  font-size: 13px;
  line-height: 30px;
  padding: 0;
  text-transform: uppercase;
}

.progress-chart .label {
  padding-left: 10px;
}

.progress-chart .progress {
  background: transparent;
  border-radius: 0;
  margin-bottom: 0;
}

.progress-chart .progress-bar {
  border-radius: 0;
}

.progress-chart.align-right {
  text-align: right;
}

.progress-chart.align-right:before {
  right: 0;
}

.progress-chart.align-right .label {
  padding-left: 0;
  padding-right: 10px;
}

.progress-chart.align-right .progress-bar {
  float: right;
}

.progress-bar-cyan {
  background-color: #22beef;
}

.progress-bar-amethyst {
  background-color: #cd97eb;
}

.progress-bar-green {
  background-color: #a2d200;
}

.progress-bar-orange {
  background-color: #ffc100;
}

.progress-bar-red {
  background-color: #ff4a43;
}

.progress-bar-greensea {
  background-color: #16a085;
}

.progress-bar-dutch {
  background-color: #1693A5;
}

.progress-bar-hotpink {
  background-color: #FF0066;
}

.progress-bar-drank {
  background-color: #A40778;
}

.progress-bar-blue {
  background-color: #418bca;
}

.progress-bar-lightred {
  background-color: #e05d6f;
}

.progress-bar-slategray {
  background-color: #3f4e62;
}

.progress-bar-darkgray {
  background-color: #333;
}

.price-plans div[class^="col"] {
  padding: 0;
}

.price-plans div[class^="col"]:first-of-type {
  padding-left: 15px;
  padding-right: 0;
}

.price-plans div[class^="col"]:last-of-type {
  padding-left: 0;
  padding-right: 15px;
}

.price-plan {
  margin-top: 30px;
  background-color: #f9f9f9;
  border-radius: 2px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  z-index: 9;
}

.price-plan .plan-type {
  background-color: #fdfdfd;
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.price-plan .plan-type h4 {
  margin: 0;
  text-transform: uppercase;
}

.price-plan .plan-type h4 + span {
  text-transform: uppercase;
  font-weight: 300;
  color: #a2a2a2;
}

.price-plan .plan-price {
  padding: 30px 0;
}

.price-plan .plan-price .unit {
  font-size: 24px;
  position: relative;
  top: -10px;
  display: inline-block;
  margin-right: 10px;
}

.price-plan .plan-price .price {
  font-size: 58px;
}

.price-plan .plan-price .price + span {
  font-size: 38px;
}

.price-plan .plan-price .period {
  font-size: 18px;
  font-weight: 300;
  color: #a2a2a2;
}

.price-plan .plan-price:after {
  content: '';
  display: block;
  margin: 30px auto 0;
  width: 60px;
  border-top: 1px solid #ccc;
}

.price-plan .plan-features {
  padding-bottom: 20px;
}

.price-plan .plan-features ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #6f6f6f;
}

.price-plan .plan-features ul > li {
  line-height: 2.247;
}

.price-plan .plan-actions {
  padding: 10px 0 20px;
}

.price-plan.selected {
  background-color: white;
  z-index: 11;
  margin-right: -3px;
  margin-left: -3px;
  top: -21px;
}

.price-plan.selected .plan-type {
  background-color: white;
}

.price-plan.selected .plan-actions {
  padding-bottom: 41px;
}

.tabs-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs-menu > li {
  margin-bottom: 1px;
  position: relative;
}

.tabs-menu > li > a {
  display: block;
  background-color: #f7f7f7;
  padding: 10px 15px;
  color: #888888;
}

.tabs-menu > li > a:hover {
  color: #19b698;
}

.tabs-menu > li.active > a {
  background-color: #19b698;
  color: white;
  font-weight: 700;
}

.tabs-menu > li.active:after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #19b698;
  border-top: 6px solid transparent;
  right: -6px;
  top: 15px;
}

.panel.panel-faq {
  border-radius: 0;
  box-shadow: none;
}

.panel.panel-faq .panel-title > a:not(.collapsed) {
  color: #19b698;
}

.panel.panel-faq .panel-collapse.in .panel-body,
.panel.panel-faq .panel-collapse.collapsing .panel-body {
  border-color: #19b698;
}

.myPagination {
  border-radius: 2px;
}

.myPagination > li > a,
.myPagination > li > span {
  margin-right: 3px;
  border-radius: 2px !important;
  border-width: 2px;
  border-color: #eaeaea;
  color: #bbbbbb;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 700;
  font-size: 12px;
  padding: 0 12px;
  line-height: 32px;
  width: 36px;
  text-align: center;
}

.myPagination > li > a:hover,
.myPagination > li > span:hover {
  color: #222;
  border-color: #19b698;
  background-color: white;
}

.myPagination > li > span,
.myPagination > li > span:hover {
  background-color: #19b698;
  color: white;
  border-color: #19b698;
}

.comments-feed {
  list-style: none;
  padding: 0 0 0 30px;
  margin: 60px 0 0;
}

.comments-feed > .comment {
  margin-bottom: 60px;
}

.comments-feed .comment {
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  padding: 15px 30px 15px 60px;
  position: relative;
}

.comments-feed .comment .comment-avatar {
  position: absolute;
  top: -30px;
  left: -30px;
}

.comments-feed .comment .comment-avatar > img {
  border: 3px solid white;
  box-shadow: 0 0 0 1px #eee;
}

.comments-feed .comment .comment-body .comment-header {
  margin-bottom: 20px;
}

.comments-feed .comment .comment-body .comment-author {
  font-size: 16px;
  margin-bottom: 0;
}

.comments-feed .comment .comment-body .comment-meta {
  font-size: 12px;
  font-style: italic;
  color: #a2a2a2;
}

.comments-feed .comment .comment-body .comment-reply {
  position: absolute;
  top: 10px;
  right: 10px;
}

.comments-feed .comment .comment-body .comment-reply > a {
  color: #a2a2a2;
}

.comments-feed .comment .comment-body .comment-reply > a:hover {
  color: #19b698;
}

.comments-feed .comment .comment-replies {
  list-style: none;
  padding: 10px 0 0;
  margin: 20px 0 0;
}

.comments-feed .comment .comment-replies > .comment {
  border: 0;
  border-radius: 0;
  border-left: 2px solid #f2f2f2;
  padding: 15px 30px 15px 75px;
}

.comments-feed .comment .comment-replies > .comment .comment-avatar {
  left: 15px;
  top: 15px;
}

.comments-feed .comment .comment-replies > .comment .comment-avatar > img {
  border: 0;
  box-shadow: none;
  width: 40px;
  height: 40px;
}

.bg-white {
  background-color: white !important;
}

.bg-cyan {
  background-color: #22beef !important;
  color: white !important;
}

.bg-cyan.dk {
  background-color: #10acdd !important;
}

.bg-cyan.dker {
  background-color: #0f9dca !important;
}

.bg-cyan.lt {
  background-color: #3ac5f1 !important;
}

.bg-cyan.lter {
  background-color: #52ccf2 !important;
}

.bg-amethyst {
  background-color: #cd97eb !important;
  color: white !important;
}

.bg-amethyst.dk {
  background-color: #c382e7 !important;
}

.bg-amethyst.dker {
  background-color: #ba71e4 !important;
}

.bg-amethyst.lt {
  background-color: #d1a0ed !important;
}

.bg-amethyst.lter {
  background-color: #d5a8ee !important;
}

.bg-green {
  background-color: #a2d200 !important;
  color: white !important;
}

.bg-green.dk {
  background-color: #96c300 !important;
}

.bg-green.dker {
  background-color: #86ae00 !important;
}

.bg-green.lt {
  background-color: #aadc00 !important;
}

.bg-green.lter {
  background-color: #b2e600 !important;
}

.bg-orange {
  background-color: #ffc100 !important;
  color: white !important;
}

.bg-orange.dk {
  background-color: #f0b500 !important;
}

.bg-orange.dker {
  background-color: #dba600 !important;
}

.bg-orange.lt {
  background-color: #ffc71a !important;
}

.bg-orange.lter {
  background-color: #ffcd33 !important;
}

.bg-red {
  background-color: #ff4a43 !important;
  color: white !important;
}

.bg-red.dk {
  background-color: #ff1910 !important;
}

.bg-red.dker {
  background-color: #e60900 !important;
}

.bg-red.lt {
  background-color: #ff635c !important;
}

.bg-red.lter {
  background-color: #ff7b76 !important;
}

.bg-greensea {
  background-color: #16a085 !important;
  color: white !important;
}

.bg-greensea.dk {
  background-color: #138a72 !important;
}

.bg-greensea.dker {
  background-color: #107863 !important;
}

.bg-greensea.lt {
  background-color: #19b698 !important;
}

.bg-greensea.lter {
  background-color: #1ccdaa !important;
}

.bg-dutch {
  background-color: #1693A5 !important;
  color: white !important;
}

.bg-dutch.dk {
  background-color: #137f8f !important;
}

.bg-dutch.dker {
  background-color: #116f7d !important;
}

.bg-dutch.lt {
  background-color: #19a7bc !important;
}

.bg-dutch.lter {
  background-color: #1cbbd2 !important;
}

.bg-hotpink {
  background-color: #FF0066 !important;
  color: white !important;
}

.bg-hotpink.dk {
  background-color: #e6005c !important;
}

.bg-hotpink.dker {
  background-color: #d10054 !important;
}

.bg-hotpink.lt {
  background-color: #ff1a75 !important;
}

.bg-hotpink.lter {
  background-color: #ff3385 !important;
}

.bg-drank {
  background-color: #A40778 !important;
  color: white !important;
}

.bg-drank.dk {
  background-color: #8c0666 !important;
}

.bg-drank.dker {
  background-color: #780558 !important;
}

.bg-drank.lt {
  background-color: #bc088a !important;
}

.bg-drank.lter {
  background-color: #d5099c !important;
}

.bg-blue {
  background-color: #418bca !important;
  color: white !important;
}

.bg-blue.dk {
  background-color: #357ebd !important;
}

.bg-blue.dker {
  background-color: #3074ad !important;
}

.bg-blue.lt {
  background-color: #5597d0 !important;
}

.bg-blue.lter {
  background-color: #69a3d5 !important;
}

.bg-lightred {
  background-color: #e05d6f !important;
  color: white !important;
}

.bg-lightred.dk {
  background-color: #dc485c !important;
}

.bg-lightred.dker {
  background-color: #d9364d !important;
}

.bg-lightred.lt {
  background-color: #e47282 !important;
}

.bg-lightred.lter {
  background-color: #e88895 !important;
}

.bg-slategray {
  background-color: #3f4e62 !important;
  color: white !important;
}

.bg-slategray.dk {
  background-color: #354252 !important;
}

.bg-slategray.dker {
  background-color: #2d3846 !important;
}

.bg-slategray.lt {
  background-color: #495a72 !important;
}

.bg-slategray.lter {
  background-color: #536781 !important;
}

.bg-darkgray {
  background-color: #333 !important;
  color: white !important;
}

.bg-darkgray.dk {
  background-color: #262626 !important;
}

.bg-darkgray.dker {
  background-color: #1c1c1c !important;
}

.bg-darkgray.lt {
  background-color: #404040 !important;
}

.bg-darkgray.lter {
  background-color: #4d4d4d !important;
}

.bg-primary {
  background-color: #428bca !important;
  color: white !important;
}

.bg-primary.dk {
  background-color: #3071a9 !important;
}

.bg-primary.dker {
  background-color: #245682 !important;
}

.bg-primary.lt {
  background-color: #5697d0 !important;
}

.bg-primary.lter {
  background-color: #6aa3d5 !important;
}

.bg-success {
  background-color: #5cb85c !important;
  color: white !important;
}

.bg-success.dk {
  background-color: #449d44 !important;
}

.bg-success.dker {
  background-color: #357935 !important;
}

.bg-success.lt {
  background-color: #a3d7a3 !important;
  color: #357935 !important;
}

.bg-success.lter {
  background-color: #eaf6ea !important;
  color: #357935 !important;
}

.bg-warning {
  background-color: #f0ad4e !important;
  color: white !important;
}

.bg-warning.dk {
  background-color: #ec971f !important;
}

.bg-warning.dker {
  background-color: #c77c11 !important;
}

.bg-warning.lt {
  background-color: #f6ce95 !important;
  color: #c77c11 !important;
}

.bg-warning.lter {
  background-color: #fef9f3 !important;
  color: #c77c11 !important;
}

.bg-danger {
  background-color: #d9534f !important;
  color: white !important;
}

.bg-danger.dk {
  background-color: #c9302c !important;
}

.bg-danger.dker {
  background-color: #a02622 !important;
}

.bg-danger.lt {
  background-color: #eba5a3 !important;
  color: #a02622 !important;
}

.bg-danger.lter {
  background-color: #fdf7f7 !important;
  color: #a02622 !important;
}

.bg-info {
  background-color: #5bc0de !important;
  color: white !important;
}

.bg-info.dk {
  background-color: #31b0d5 !important;
}

.bg-info.dker {
  background-color: #2390b0 !important;
}

.bg-info.lt {
  background-color: #9bd8eb !important;
  color: #2390b0 !important;
}

.bg-info.lter {
  background-color: #f0f9fc !important;
  color: #2390b0 !important;
}

.bg-default {
  background-color: #616f77 !important;
  color: white !important;
}

.bg-default.dk {
  background-color: #4a555b !important;
  color: white !important;
}

.bg-default.dker {
  background-color: #333b3f !important;
  color: white !important;
}

.bg-default.lt {
  background-color: #a3aeb4 !important;
  color: #222 !important;
}

.bg-default.lter {
  background-color: #e1e5e7 !important;
  color: #222 !important;
}

.no-bg {
  background-color: transparent !important;
}

.bg-light {
  background-color: #f7f7f7;
}

.text-cyan {
  color: #22beef;
}

.text-amethyst {
  color: #cd97eb;
}

.text-green {
  color: #a2d200;
}

.text-orange {
  color: #ffc100;
}

.text-red {
  color: #ff4a43;
}

.text-greensea {
  color: #16a085;
}

.text-dutch {
  color: #1693A5;
}

.text-hotpink {
  color: #FF0066;
}

.text-drank {
  color: #A40778;
}

.text-blue {
  color: #418bca;
}

.text-lightred {
  color: #e05d6f;
}

.text-slategray {
  color: #3f4e62;
}

.text-darkgray {
  color: #333;
}

.text-primary {
  color: #428bca;
}

.text-success {
  color: #5cb85c;
}

.text-warning {
  color: #f0ad4e;
}

.text-danger {
  color: #d9534f;
}

.text-info {
  color: #5bc0de;
}

.text-white {
  color: white;
}

.text-ondark,
.text-default.lt {
  color: #a2a2a2;
}

.text-default.lter {
  color: #eeeeee;
}

.text-theme {
  color: #19b698;
}

.text-xs {
  font-size: 10px !important;
}

.text-sm {
  font-size: 12px !important;
}

.text-md {
  font-size: 16px !important;
}

.text-lg {
  font-size: 18px !important;
}

.text-xl {
  font-size: 32px !important;
}

.text-xxl {
  font-size: 60px;
}

.text-mega {
  font-size: 160px;
}

.text-light {
  font-weight: 300 !important;
}

.text-italic {
  font-style: italic;
}

.animated {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.block {
  display: block;
}

.inline {
  display: inline !important;
}

.inline-block {
  display: inline-block !important;
}

.text-left {
  text-align: left !important;
}

.wrap-reset {
  margin: -15px;
  padding: 15px;
}

.hidden-xs.show,
.hidden-sm.show {
  display: block !important;
}

.m-auto {
  margin: auto;
}

.m-40 {
  margin: 40px !important;
}

.m-20 {
  margin: 20px !important;
}

.m-10 {
  margin: 10px !important;
}

.m-5 {
  margin: 5px !important;
}

.m-0 {
  margin: 0 !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.p-30 {
  padding: 30px !important;
}

.p-20 {
  padding: 20px !important;
}

.p-15 {
  padding: 15px !important;
}

.p-10 {
  padding: 10px !important;
}

.p-5 {
  padding: 5px !important;
}

.p-0 {
  padding: 0 !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.b-0 {
  border: 0 !important;
}

.bt-0 {
  border-top: 0 !important;
}

.bb-0 {
  border-bottom: 0 !important;
}

.b-a {
  border: 1px solid #f2f2f2 !important;
}

.b-r {
  border-right: 1px solid #f2f2f2 !important;
}

.b-b {
  border-bottom: 1px solid #f2f2f2 !important;
}

.b-l {
  border-left: 1px solid #f2f2f2 !important;
}

.b-t {
  border-top: 1px solid #f2f2f2 !important;
}

.b-dashed {
  border-style: dashed !important;
}

.b-solid {
  border-color: #ddd !important;
}

.b-2x {
  border-width: 2px !important;
}

.b-3x {
  border-width: 3px !important;
}

.b-cyan {
  border-color: #22beef !important;
}

.b-amethyst {
  border-color: #cd97eb !important;
}

.b-green {
  border-color: #a2d200 !important;
}

.b-orange {
  border-color: #ffc100 !important;
}

.b-red {
  border-color: #ff4a43 !important;
}

.b-greensea {
  border-color: #16a085 !important;
}

.b-dutch {
  border-color: #1693A5 !important;
}

.b-hotpink {
  border-color: #FF0066 !important;
}

.b-drank {
  border-color: #A40778 !important;
}

.b-blue {
  border-color: #418bca !important;
}

.b-lightred {
  border-color: #e05d6f !important;
}

.b-slategray {
  border-color: #3f4e62 !important;
}

.b-darkgray {
  border-color: #333 !important;
}

.b-primary {
  border-color: #428bca !important;
}

.b-success {
  border-color: #5cb85c !important;
}

.b-warning {
  border-color: #f0ad4e !important;
}

.b-danger {
  border-color: #d9534f !important;
}

.b-info {
  border-color: #5bc0de !important;
}

.b-default {
  border-color: #616f77 !important;
}

.br-0 {
  border-radius: 0 !important;
}

.br-2 {
  border-radius: 2px !important;
}

.br-2-l {
  border-radius: 2px 0 0 2px !important;
}

.br-2-r {
  border-radius: 0 2px 2px 0 !important;
}

.br-2-t {
  border-radius: 2px 2px 0 0 !important;
}

.br-2-b {
  border-radius: 0 0 2px 2px !important;
}

.size-30x30,
.wh30 {
  width: 30px;
  height: 30px;
}

.size-45x45,
.wh45 {
  width: 45px;
  height: 45px;
}

.size-50x50,
.wh50 {
  width: 50px;
  height: 50px;
}

.w-40 {
  width: 40px !important;
}

.w-xxs, .w-60 {
  width: 60px;
}

.w-xs, .w-100 {
  width: 100px;
}

.w-sm, .w-150 {
  width: 150px;
}

.w-md, .w-240 {
  width: 240px;
}

.w-lg, .w-280 {
  width: 280px;
}

.w-xl, .w-360 {
  width: 360px;
}

.w-xxl, .w-420 {
  width: 420px;
}

.w-3xl, .w-520 {
  width: 520px;
}

.less-width {
  max-width: 860px;
  margin: 0 auto;
}

.lesser-width {
  max-width: 680px;
}

.center-block {
  position: relative !important;
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

a.desaturate > img {
  filter: gray;
  /* IE6-9 */
  filter: grayscale(1);
  /* Firefox 35+ */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
  opacity: .5;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

a.desaturate:hover > img {
  filter: none;
  -webkit-filter: grayscale(0);
  opacity: 1;
}

@media only screen and (max-width: 991px) {
  #wrapper {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
  #header,
  #header-wrap {
    height: auto !important;
  }
  #header .container {
    width: 750px;
    padding: 0 15px;
  }
  #header.transparent-header {
    background: #fff;
    z-index: auto;
  }
  #header.transparent-header + #slider {
    top: 0;
    margin-bottom: 0;
  }
  #branding {
    display: block;
    height: 110px;
    float: none;
    margin: 0 auto 0 !important;
    max-width: none;
    text-align: center;
    border: 0 !important;
    padding: 0 !important;
  }
  #branding a.brand-normal {
    display: inline-block;
  }
  #main-navbar {
    display: block;
    float: none;
    height: auto !important;
  }
  #main-navbar ul {
    height: auto !important;
    width: 100%;
  }
  #main-navbar ul li {
    float: none;
    margin: 0 !important;
    text-align: left !important;
    border-top: 1px dotted #eee;
  }
  #main-navbar ul li a {
    height: 45px !important;
    line-height: 45px !important;
    padding: 0 5px !important;
    border: none !important;
    margin: 0 !important;
  }
  #main-navbar ul li:first-child {
    border-top: 0;
  }
  #main-navbar ul li.submenu > a {
    background-image: url("../images/icons/submenu.png");
    background-position: right center;
    background-repeat: no-repeat;
  }
  #main-navbar ul li.mega-menu .mega-menu-content {
    position: relative;
    background-color: transparent !important;
    box-shadow: none;
    border: 0;
    z-index: 1;
    top: 0 !important;
    padding-left: 0;
    width: auto !important;
    margin: 0 !important;
  }
  #main-navbar ul li.mega-menu .mega-menu-content ul {
    display: block !important;
    position: relative;
    top: 0;
    min-width: inherit;
    opacity: 1 !important;
    left: 0;
    width: 100%;
    border: 0;
    padding: 0;
    box-shadow: none;
    background-color: transparent;
    float: none !important;
    padding-left: 10px;
  }
  #main-navbar ul li.mega-menu .mega-menu-content ul ul {
    border-top: 1px solid #eee;
  }
  #main-navbar ul li.mega-menu .mega-menu-content ul a {
    height: 36px;
    line-height: 36px;
  }
  #main-navbar ul li.mega-menu .mega-menu-content ul li.mega-menu-title {
    padding-left: 10px !important;
  }
  #main-navbar ul li.mega-menu .mega-menu-content ul li.mega-menu-title > a {
    font-family: "Lato", "Arial", sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: none;
    letter-spacing: normal;
    color: #444 !important;
    padding: 0;
    height: 36px;
    line-height: 36px !important;
    background-image: none;
  }
  #main-navbar ul li.mega-menu .mega-menu-content ul li.mega-menu-title > a:hover {
    color: #444 !important;
  }
  #main-navbar ul li.mega-menu .mega-menu-content > ul:first-child {
    border: 0;
  }
  #main-navbar ul li.mega-menu .mega-menu-content.col-2 > ul,
  #main-navbar ul li.mega-menu .mega-menu-content.col-3 > ul,
  #main-navbar ul li.mega-menu .mega-menu-content.col-4 > ul,
  #main-navbar ul li.mega-menu .mega-menu-content.col-5 > ul {
    width: auto;
    margin: 0;
    border-left: 0;
    border-top: 1px solid #eee;
  }
  #main-navbar ul ul {
    position: relative;
    width: auto;
    background-color: transparent !important;
    box-shadow: none;
    border: 0;
    border-top: 1px solid #EEE;
    z-index: 1;
    top: 0 !important;
    padding-left: 15px;
  }
  #main-navbar ul ul li {
    float: none;
    margin: 0;
    border-top: 1px dotted #eee;
  }
  #main-navbar ul ul li:hover > a {
    background-color: transparent !important;
    font-weight: 700;
    color: #19b698 !important;
  }
  #main-navbar ul ul a {
    height: 36px !important;
    line-height: 36px !important;
    padding-left: 5px !important;
    font-size: 12px !important;
    text-transform: none;
    font-weight: 400;
  }
  #main-navbar > ul {
    display: none;
    float: none !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
  }
  #main-navbar-toggle {
    opacity: 1;
    pointer-events: auto;
    top: 30px;
    margin-top: 0;
    left: 0;
    z-index: 1;
  }
  #search-toggle {
    position: absolute;
    top: 0;
    left: auto;
    right: 15px;
    margin: 0;
  }
  #search-toggle span {
    display: none;
  }
  #header.responsive-sticky-header {
    min-height: 50px;
  }
  #header.responsive-sticky-header #header-wrap {
    z-index: 199;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    -webkit-backface-visibility: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  #header.responsive-sticky-header #branding,
  #header.responsive-sticky-header #branding img {
    height: 50px;
  }
  #header.responsive-sticky-header #main-navbar-toggle {
    top: 0;
  }
  #header.responsive-sticky-header #main-navbar > ul {
    max-height: 300px;
    overflow-y: scroll;
    margin-bottom: 20px;
  }
  #header.responsive-sticky-header #search-toggle {
    line-height: 50px;
  }
}

@media only screen and (max-width: 768px) {
  body {
    padding: 0 !important;
  }
  #wrapper {
    width: 100% !important;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
  }
  .text-lg {
    font-size: 16px;
  }
  .text-xl {
    font-size: 24px;
  }
  .text-xxl {
    font-size: 30px;
  }
  .text-mega {
    font-size: 90px;
  }
  .w-3xl {
    width: 420px;
  }
  #footer .footer-bottom {
    text-align: center;
  }
  .text-center-md {
    text-align: center !important;
  }
  .mt-20-md {
    margin-top: 20px;
  }
  #breadcrumbs h1 {
    text-align: center;
  }
  #breadcrumbs h1 + span {
    display: none;
  }
  #breadcrumbs .breadcrumb {
    position: static;
    text-align: center;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container,
  #header .container {
    width: 470px !important;
  }
}

@media only screen and (max-width: 479px) {
  .container,
  #header .container {
    width: 310px !important;
  }
  .w-3xl {
    width: auto;
  }
}


#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}