/* Estilo aplicado à células de cabeçalho. */
.triangle-chart td.header {
  color: rgb(255, 255, 255);
  background-color: rgb(22, 160, 133);
  font: bold;
  padding: .5rem 1rem;
}

/* Estilo aplicado à células de valor. */
.triangle-chart td.value {
  background-color: rgb(255, 255, 255);
  padding: .5rem 1rem;
  text-align: center;
  border: .1rem solid rgb(219, 219, 219);
}